body{
    background-color: rgb(54, 50, 58);
}

.refresh{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: bold;
    color:rgb(20, 177, 130);
    text-align: center;
    font-size: 1000%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.player{
    font-family: 'Lato', serif;
    color:rgb(20, 177, 130);
    padding-bottom: 15%;
}

.player1Dice{
    padding-left: 32%;
}

.player2Dice{
    padding-right: 32%;
}

.bottomSection{
    padding-top: 10%;
}

.nameText{
    color:rgb(20, 177, 130);
    font-size:1.3rem;
}

.winner{
    color:crimson;
}

@media (max-width: 1500px){
    .player1Dice{
        padding-left: 10%;
    }
    
    .player2Dice{
        padding-right: 10%;
    }
}

@media (max-width: 900px){
    .player1Dice{
        padding-left: 0%;
    }
    
    .player2Dice{
        padding-right: 0%;
    }
}

